html {
  background-color: $background-color;
  color: $text-color;
  font-family: $body-font-family;
  font-size: calc(0.85vmin + 13px);
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
}
