.post {
  border-bottom: 1px dashed $border-color;
  padding: 1.5em $pad-min;

  img {
    max-width: 100%;
  }

  & > * {
    @include container
  }
}

.post__title {
  margin-bottom: 0.25em;
}

.post__date {
  color: $text-color-light;
  font-size: 0.9rem;
  margin-top: 0;
  text-transform: uppercase;
}
