.posts__pagination {
  padding: 1em $pad-min;
}

.posts__pagination-container {
  display: flex;
}

.posts__next-link,
.posts__prev-link {
  flex-grow: 1;
}

.posts__next-link {
  text-align: left;
}

.posts__prev-link {
  text-align: right;
}
