.post {
  border-bottom: 1px dashed $border-color;
  margin-top: 2em;
  padding-bottom: 1.5em;

  img {
    max-width: 100%;
  }

  & > * {
    @include container
  }

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px dashed $border-color-dark;
  }
}

.post__title {
  margin-bottom: 0.25em;
}

.post__date {
  color: $text-color-light;
  font-size: 0.9rem;
  margin-top: 0;
  text-transform: uppercase;
}
